<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Friends" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Friends</h1>
    <%= link_to "New friend", new_friend_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <table class="table-auto border-2 m-2">
<thead>
    <tr class="bg-indigo-500 border-2">
      <th class="p-2 m-2">Name</th>
      <th class="p-2 m-2">Email</th>
      <th class="p-2 m-2">Phone</th>
      <th class="p-2 m-2">Twitter</th>
      <th class="p-2 m-2">View</th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <%= render friend %>
    <% end %>
    </tbody>
    </table>
</div>
